  .about-us {
    padding: 0 260px 100px 260px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Montserrat';
    font-style: normal;

    background-image: url(../img/about-us_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about-us>h1 {
    margin-bottom: 110px;
    padding: 20px;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(77px);
    border-radius: 20px;

    font-weight: 600;
    font-size: 58px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
  }

  .about-us_content {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(77px);

    border-radius: 20px;
  }

  .about-us_content>h2 {
    margin-bottom: 40px;
    width: 1060px;
    font-weight: 600;
    font-size: 50px;
    font-size: calc(14px + 36 * (100vw / 1920));
    line-height: 140%;

    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  .about-us_content>p {
    margin-bottom: 40px;
    align-self: flex-start;
    font-weight: 600;
    font-size: calc(14px + 16 * (100vw / 1920));
    /* font-size: 30px; */
    line-height: 140%;
    letter-spacing: -0.02em;

    color: #FFFFFF;
  }


  @media only screen and (max-width : 1440px) {
    .about-us {
      padding: 0 50px 50px 50px;
    }

    .about-us>h1 {
      margin-bottom: 50px;
      font-size: calc(14px + 55 * (100vw / 1920));
    }

  }

  @media only screen and (max-width : 1366px) {
    .about-us {
      padding: 0 40px 30px 40px;
    }

    .about-us>h1 {
      font-weight: 500;
      font-size: calc(14px + 55 * (100vw / 1920));
    }

    .about-us_content {
      padding: 40px;
    }

    .about-us_content>h2 {
      margin-bottom: 25px;
      width: 80%;
      font-weight: 400;
      font-size: calc(14px + 36 * (100vw / 1920));
    }

    .about-us_content>p {
      margin-bottom: calc(14px + 16 * (100vw / 1920));
      font-weight: 300;
      font-size: calc(14px + 16 * (100vw / 1920));
    }
  }

  @media only screen and (max-width : 1024px) {}

  @media only screen and (max-width : 768px) {
    .about-us {
      padding: 0 34px 34px 34px;
    }
  }

  @media only screen and (max-width : 480px) {
    .about-us {
      padding: 0 16px 16px 16px;
    }

    .about-us>h1 {
      margin-bottom: 16px;
      padding: 20px 16px;
      font-size: 28px;
    }

    .about-us_content {
      padding: 16px;
    }

    .about-us_content>h2 {
      margin-bottom: 20px;
      width: 100%;
      font-weight: 600;
      font-size: 16px;
    }

    .about-us_content>p {
      margin-bottom: 14px;
      width: 100%;
      font-weight: 600;
      font-size: 14px;
    }
  }