@media only screen and (max-width : 1920px) {
  .analysis {
    padding: 100px 130px;
    font-family: 'Montserrat';
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .analysis_header {
    margin-bottom: 140px;
    font-weight: 600;
    font-size: 58px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #585858;
  }

  .analysis_content {
    margin-bottom: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .progress-bar {
    margin-right: 130px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

    font-weight: 600;
    font-size: 58px;
    line-height: 140%;
    letter-spacing: -0.02em;

    color: #585858;
    background: inherit;

    border: 20px solid #2DC747;
    border-radius: 50%;
  }

  .checkpoints {
    display: flex;
    flex-direction: column;

    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: -0.02em;

    color: #585858;
  }

  .checkpoints>li {
    display: flex;
    align-items: center;
  }

  .checkpoints>li:not(:last-child) {
    margin-bottom: 43px;
  }

  .checkpoints>li:not(:last-child)::before {
    content: url(../img/check.png);
    margin-right: 17px;
  }

  .checkpoints>li:last-child::before {
    content: url(../img/loading.png);
    margin-right: 17px;
  }
}

@media only screen and (max-width : 1440px) {
  .analysis {
    padding: 50px;
  }

  .analysis_header {
    margin-bottom: 132px;
  }
}

@media only screen and (max-width : 1366px) {
  .analysis {
    padding: 30px 40px;
  }

  .analysis_header {
    margin-bottom: 91px;
    font-size: calc(14px + 41 * (100vw / 1920));
  }

  .analysis_content {
    margin-bottom: 91px;
  }

  .progress-bar {
    font-size: calc(14px + 41 * (100vw / 1920));
    width: 200px;
    height: 200px;
  }

  .checkpoints {
    font-weight: 500;
    font-size: calc(14px + 16 * (100vw / 1920));
  }

  .checkpoints>li:not(:last-child) {
    margin-bottom: 20px;
  }

  .checkpoints>li:not(:last-child)::before {
    content: '';
    background-image: url(../img/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    margin-right: 17px;
  }

  .checkpoints>li:last-child::before {
    content: '';
    background-image: url(../img/loading.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    margin-right: 17px;
  }
}

@media only screen and (max-width : 1024px) {
  .analysis_content {
    width: 100%;
    justify-content: space-around;
  }

  .progress-bar {
    margin: 0;
  }
}

@media only screen and (max-width : 768px) {}

@media only screen and (max-width : 360px) {}