@media only screen and (max-width : 1920px) {
  .first-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 130px;
  }

  .first-screen>img {
    width: 50%;
  }

  .first-screen_left {
    font-family: 'Montserrat';
    font-style: normal;
  }

  .first-screen_left_header {
    margin-bottom: 60px;
    font-weight: 800;
    font-size: 65px;
    line-height: 122.5%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #575757;
  }

  .first-screen_left_header>span {
    color: #FB9333;
  }

  .first-screen_left_items-box {
    margin-bottom: 30px;
    display: flex;
  }

  .first-screen_left_items-box_item:not(:last-child) {
    margin-right: 55px;
  }

  .first-screen_left_items-box_item_title {
    font-weight: 600;
    font-size: 28px;
    line-height: 160%;
    color: #575757;
  }

  .first-screen_left_items-box_item_subtitle {
    font-weight: 600;
    font-size: 19px;
    line-height: 160%;
    color: #585858;
  }

  .first-screen_left_text {
    margin-bottom: 60px;
    width: 80%;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #585858;
  }

  .first-screen_left_button_div {
    display: flex;
    align-items: center;
  }

  .first-screen_left_button_div>img {
    width: 28%;
  }

  .first-screen_left_button {
    margin-right: 50px;
    padding: 30px 40px;
    display: inline-block;
    font-weight: 600;
    font-size: 28px;
    /* line-height: 130%; */
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #FB9333;
    box-shadow: 0px 0px 30px rgba(255, 122, 0, 0.7);
    border-radius: 50px;
    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
  }

  .first-screen_left_button:hover {
    margin-right: 30px;
    color: #FB9333;
    background: #FFFFFF;
    box-shadow: none;
    outline: 1px solid #FB9333;
  }
}


@media only screen and (max-width : 1440px) {
  .first-screen {
    padding: 0 50px;
  }

  .first-screen>img {
    width: 40%;
  }

  .first-screen_left_header {
    margin-bottom: 5%;
    font-size: calc(14px + 55 * (100vw / 1920));
  }

  .first-screen_left_items-box_item:not(:last-child) {
    margin-right: 5%;
  }

  .first-screen_left_items-box_item_title {
    font-size: calc(14px + 25 * (100vw / 1920));
  }

  .first-screen_left_items-box_item_subtitle {
    font-size: calc(14px + 5 * (100vw / 1920));
  }

  .first-screen_left_text {
    margin-bottom: 5%;
    font-size: calc(14px + 10 * (100vw / 1920));
  }

  .first-screen_left_button_div>img {
    width: 28%;
  }

  .first-screen_left_button {
    margin-right: 10%;
    font-size: calc(14px + 14 * (100vw / 1920));
  }
}

@media only screen and (max-width : 1366px) {
  .first-screen {
    padding: 0px 40px;
    align-items: flex-start;
  }

  .first-screen_left_header {
    margin-bottom: 3%;
    font-size: calc(14px + 50 * (100vw / 1920));
  }

  .first-screen_left_items-box {
    margin-bottom: 10px;
  }

  .first-screen_left_items-box_item_title {
    font-size: calc(14px + 20 * (100vw / 1920));
  }

  .first-screen_left_items-box_item_subtitle {
    font-size: calc(14px + 4 * (100vw / 1920));
  }

  .first-screen_left_text {
    font-size: calc(14px + 4 * (100vw / 1920));
  }

  .first-screen_left_button {
    padding: 20px 30px;
    box-shadow: 0px 0px 5px rgb(255 122 0 / 70%);
  }
}

@media only screen and (max-width : 1024px) {
  .first-screen_left_button {
    padding: 20px 20px;
  }
}


@media only screen and (max-width : 768px) {
  .first-screen {
    padding: 34px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .first-screen>img {
    width: 70%;
  }

  .first-screen_left_header {
    margin-bottom: 24px;
    font-weight: 800;
    font-size: calc(16px + 32 * (100vw / 768));
    line-height: 140%;
    letter-spacing: -0.02em;
  }

  .first-screen_left_items-box_item_title {
    margin-bottom: 4px;
    font-size: calc(16px + 12 * (100vw / 768));
    line-height: 160%;
  }

  .first-screen_left_items-box_item_subtitle {
    font-size: calc(16px + 4 * (100vw / 768));
    line-height: 160%;
  }

  .first-screen_left_items-box_item:not(:last-child) {
    margin-right: 48px;
  }

  .first-screen_left_text {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: calc(8px + 8 * (100vw / 768));
    line-height: 160%;
    letter-spacing: -0.02em;
  }

  .first-screen_left_button {
    padding: 24px;
    font-weight: 600;
    text-align: center;
    font-size: calc(16px + 8 * (100vw / 768));
  }
}



@media only screen and (max-width : 360px) {
  .first-screen {
    padding: 16px;
  }

  /* .first-screen>img {
    width: 100%;
  } */

  .first-screen_left_header {
    margin-bottom: 10px;
    font-size: 28px;
  }

  .first-screen_left_items-box_item:not(:last-child) {
    margin-right: 24px;
  }

  .first-screen_left_items-box_item_title {
    font-size: 20px;
  }

  .first-screen_left_items-box_item_subtitle {
    font-size: 15px;
  }

  .first-screen_left_button {
    width: 100%;
    margin: 0;
    font-size: 24px;
  }

  .first-screen_left_button:hover {
    margin: 0;
  }

  .first-screen_left_button_div>img {
    display: none;
  }
}