  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 130px;
  }

  .header_nav {
    display: flex;
  }

  .header_hamburger_close {
    display: none;
  }

  .header_nav>li:not(:last-child) {
    margin-right: 20px;
  }

  .header_nav>li>a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    color: #585858;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
  }

  .header_nav>li>a:hover {
    color: #FB9333;

    cursor: pointer;
  }

  .header_nav_active {
    color: #FB9333 !important;
  }

  .header_contact-us {
    padding: 20px 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 130%;
    color: #FFFFFF;
    background: #FB9333;
    border-radius: 100px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
  }

  .header_contact-us:hover {
    color: #FB9333;
    background: #FFFFFF;
    outline: 1px solid #FB9333;
  }

  .header_hamburger {
    display: none;
  }

  @media only screen and (max-width : 1440px) {
    header {
      padding: 50px 50px;
    }

    header>a {
      width: 10%;
    }

    .header_logo {
      width: 100%;
    }

    .header_nav>li>a {
      font-weight: 400;
      font-size: calc(14px + 10 * (100vw / 1920));
    }

    .header_contact-us {
      width: 20%;
      padding: 15px 0;
      text-align: center;
      font-weight: 500;
      font-size: calc(14px + 5 * (100vw / 1920));
    }
  }

  @media only screen and (max-width : 1366px) {
    header {
      padding: 30px 40px;
    }

    .header_contact-us {
      padding: 10px 0;
      width: 15%;
      font-size: calc(14px + 1 * (100vw / 1920));
    }
  }

  @media only screen and (max-width : 1024px) {
    .header_nav>li>a {
      font-size: calc(14px + 5 * (100vw / 1920));
    }

    .header_contact-us {
      width: 20%;
    }
  }


  @media only screen and (max-width : 768px) {
    header {
      position: relative;
      padding: 34px;
    }

    header>a {
      width: 13%;
    }

    .header_nav {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 65%;
      height: 635px;
      background-color: #ffffff;
      border-radius: 20px 0px 0px 20px;
    }

    .header_nav {
      display: none;
    }

    .header_hamburger_close {
      width: 8.5%;
      position: absolute;
      top: 34px;
      right: 34px;
    }

    .header_hamburger_close>img {
      width: 100%;
    }

    .header_nav>li {
      text-align: center;
    }

    .header_nav>li>a {
      font-weight: 500;
      font-size: 24px;
      line-height: 130%;
      color: #585858;
    }

    .header_nav>li:not(:last-child) {
      margin: 0 0 20px 0;
    }

    .header_logo {
      width: 100%;
    }

    .header_contact-us {
      padding: 3%;
      width: 28%;
      font-weight: 700;
      font-size: calc(8px + 8 * (100vw / 768));
      line-height: 130%;
      color: #FFFFFF;
    }

    .header_hamburger {
      display: block;
      width: 8.5%;
    }

    .header_hamburger:hover {
      cursor: pointer;
    }

    .header_hamburger>img {
      width: 100%;
    }
  }



  @media only screen and (max-width : 480px) {
    header {
      padding: 16px;
    }

    .header_contact-us {
      display: none;
    }

    header>a {
      width: 19%;
    }

    .header_hamburger_close {
      width: 26px;
      top: 20px;
      right: 16px;
    }

    .header_nav {
      width: 75%;
      height: 380px;
    }

    .header_nav>li>a {
      font-size: 16px;
    }
  }