@media only screen and (max-width : 1920px) {
  .parametrs {
    padding: 100px 130px;
    font-family: 'Montserrat';
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .parametrs_wrap {
    width: 100%;
  }

  .parametrs_header {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 55px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #585858;
  }

  .parametrs_pagination {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }

  .parametrs_pagination>li {
    display: flex;
    align-items: flex-end;
    height: 15px;
    width: 10%;
  }

  .parametrs_pagination>li>div {
    width: 100%;
    background-color: #FB9333;
    height: 2px;
  }

  .active_pagination {
    height: 15px;
  }

  .parametrs_pagination>li:hover {
    cursor: pointer;
  }

  .parametrs_pagination>li:not(:last-child) {
    margin-right: 24px;
  }

  .parametrs_form {
    margin-bottom: 40px;
    padding: 37px 40px;
    display: flex;
    flex-direction: column;
    background: #FEEAD2;
    box-shadow: 0px 0px 4px #FB9333;
    border-radius: 20px;
  }

  .parametrs_form_input {
    /* width: 547px;
  height: 100px; */
    padding: 18px 30px 18px 110px;
    border: 1px solid #575757;
    border-radius: 220px;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: -0.02em;
    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
    color: #575757;
  }

  .parametrs_form_input:focus {
    outline: none !important;
    border: 1px solid #FB9333;
  }

  .parametrs_form_input:hover {
    outline: none !important;
    border: 1px solid #FB9333;
  }

  .parametrs_form_input:nth-child(1) {
    background: url(../img/calendar.png) no-repeat;
    background-position: 30px;
    background-size: auto;
  }

  .parametrs_form_input:nth-child(2) {
    background: url(../img/bad-weight.png) no-repeat;
    background-position: 30px;
  }

  .parametrs_form_input:nth-child(3) {
    background: url(../img/growth.png) no-repeat;
    background-position: 30px;
  }

  .parametrs_form_input:nth-child(4) {
    background: url(../img/good-weight.png) no-repeat;
    background-position: 30px;
  }

  .parametrs_form_input::placeholder {
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #BCBCBC;
  }

  .parametrs_form_input:not(:last-child) {
    margin-bottom: 36px;
  }
}

@media only screen and (max-width : 1440px) {
  .parametrs {
    padding: 50px;
  }

  .parametrs_form_input:not(:last-child) {
    margin-bottom: 33.2px;
  }
}

@media only screen and (max-width : 1366px) {
  .parametrs {
    padding: 30px 40px;
  }

  .parametrs_header {
    font-size: calc(14px + 41 * (100vw / 1920));
  }

  .parametrs_pagination {
    margin-bottom: 25px;
  }

  .parametrs_pagination>li {
    height: 10px;
  }

  .parametrs_form {
    padding: 30px 30px;
    margin-bottom: 25px;
  }

  .parametrs_form_input {
    padding: 10px 10px 10px 73px;
    font-weight: 300;
    font-size: 19px;
  }

  .parametrs_form_input:nth-child(1) {
    background: url(../img/calendar.png) no-repeat;
    background-position: 20px;
    background-size: 30px 30px;
  }

  .parametrs_form_input:nth-child(2) {
    background: url(../img/bad-weight.png) no-repeat;
    background-position: 20px;
    background-size: 30px 30px;
  }

  .parametrs_form_input:nth-child(3) {
    background: url(../img/growth.png) no-repeat;
    background-position: 20px;
    background-size: 30px 30px;
  }

  .parametrs_form_input:nth-child(4) {
    background: url(../img/good-weight.png) no-repeat;
    background-position: 20px;
    background-size: 30px 30px;
  }

  .parametrs_form_input::placeholder {
    font-weight: 300;
    font-size: 19px;
  }

  .parametrs_form_input:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width : 1024px) {}

@media only screen and (max-width : 768px) {
  .parametrs {
    padding: 34px;
    height: calc(100vh - 68px);
    justify-content: space-between;
  }

  .parametrs_header {
    margin-bottom: 40px;
    font-size: calc(16px + 50 * (100vw / 1920));
  }

  .parametrs_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 154px;
  }

  .parametrs_pagination {
    margin: 0;
  }

  .parametrs_pagination>li:not(:last-child) {
    margin-right: 8px;
  }

  .parametrs_pagination>li {
    width: 12%;
  }

  .parametrs_form {
    margin: 0;
    padding: 40px 40px;
  }

  .parametrs_form_input {
    width: calc(100% - 83px);
    padding: 20px 20px 20px 73px;
    font-weight: 400;
    font-size: calc(12px + 8 * (100vw / 768));

  }

  .parametrs_form_input::placeholder {
    font-weight: 400;
    font-size: calc(12px + 8 * (100vw / 768));

  }

  .parametrs_form_input:not(:last-child) {
    margin-bottom: 20px;
  }

  .parametrs_form_input:nth-child(1) {
    background-position: 15px;
    background-size: 10%;
  }

  .parametrs_form_input:nth-child(2) {
    background-position: 15px;
    background-size: 10%;
  }

  .parametrs_form_input:nth-child(3) {
    background-position: 15px;
    background-size: 10%;
  }

  .parametrs_form_input:nth-child(4) {
    background-position: 15px;
    background-size: 10%;
  }
}

@media only screen and (max-width : 480px) {
  .parametrs {
    padding: 16px;
    height: calc(100vh - 32px + 71px);
  }

  .parametrs_wrap {
    margin-bottom: 16px;
    height: 125px;
  }

  .parametrs_header {
    font-size: 22px;
    margin-bottom: 24px;
  }

  .parametrs_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
  }

  .parametrs_form_input:not(:last-child) {
    margin-bottom: 20px;
  }

  .parametrs_form_input {
    padding: 14px 0 14px 20%;
    width: 60%;
  }
}