@media only screen and (max-width : 1920px) {
  .quiz_questions {
    padding: 100px 130px;
    font-family: 'Montserrat';
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .quiz_questions_header {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 55px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #585858;
  }

  .quiz_questions_pagination {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }

  .quiz_questions_pagination>li {
    height: 2px;
    width: 10%;
    background-color: #FB9333;
  }

  .quiz_questions_pagination>li:hover {
    cursor: pointer;
  }

  .active_pagination {
    height: 15px !important;
  }

  .quiz_questions_pagination>li:not(:last-child) {
    margin-right: 24px;
  }

  .quiz_questions_card-box {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .quiz_questions_card-box_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .quiz_questions_card-box_wrap>.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 234px;
    background: #FEEAD2;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
  }

  .quiz_questions_card-box_wrap>.card:not(:last-of-type) {
    margin-right: 6.2%;
  }

  .quiz_questions_card-box_wrap>.card:hover {
    box-shadow: 0px 0px 10px #FB9333;
    cursor: pointer;
  }

  .quiz_questions_card-box_wrap>.card>h3 {
    width: 210px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #585858;
  }

  .quiz_questions_card-box_wrap>.card>img {
    width: none;
    height: 70%;
  }

  .quiz_questions_card-box_wrap:not(:last-of-type) {
    margin-bottom: 35px;
  }
}





@media only screen and (max-width : 1440px) {
  .quiz_questions {
    padding: 50px;
  }

  .quiz_questions_card-box>.card {
    margin-right: 50px;
  }

  .quiz_questions_card-box_wrap>.card {
    height: 229.1px;
  }
}

@media only screen and (max-width : 1366px) {
  .quiz_questions {
    padding: 30px 40px;
  }

  .quiz_questions_header {
    font-size: calc(14px + 41 * (100vw / 1920));
  }

  .quiz_questions_pagination {
    margin-bottom: 25px;
  }

  .quiz_questions_card-box {
    margin-bottom: 25px;
  }

  .quiz_questions_card-box_wrap {
    width: 70%;
  }

  .quiz_questions_card-box_wrap:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .quiz_questions_card-box_wrap>.card {
    height: 164px;
  }

  .quiz_questions_card-box_wrap>.card:not(:last-of-type) {
    margin-right: 3.1%;
  }

  .quiz_questions_card-box_wrap_card_ml {
    margin-left: 3.1%;
  }

  .quiz_questions_card-box_wrap>.card>h3 {
    font-size: calc(14px + 4 * (100vw / 1920));
  }

  .quiz_questions_card-box_wrap>.card>img {
    height: 65%;
  }
}

@media only screen and (max-width : 1024px) {}

@media only screen and (max-width : 768px) {}

@media only screen and (max-width : 360px) {}