  .reviews {
    padding: 100px 0 100px 130px;
    display: flex;
    flex-direction: row;


    font-family: 'Montserrat';
    font-style: normal;

    background: #FFF8ED;
  }

  .reviews_content {
    margin-right: 25px;
  }

  .reviews_content>h1 {
    margin-bottom: 60px;
    width: 650px;
    font-weight: 600;
    font-size: 78px;
    line-height: 100px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #585858;
  }

  .reviews_content>p {
    width: 600px;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #999999;
  }

  .reviews_content>p:last-of-type {
    margin-bottom: 240px;
  }

  .reviews_content_slides {
    display: flex;
    margin-bottom: 34px;
  }

  .reviews_content_slide {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #CCCCCC;
  }

  .reviews_content_control {
    display: flex;
  }

  .reviews_content_control_prev,
  .reviews_content_control_next {
    border: none;
    padding: 25px;
    border-radius: 10px;
  }

  .reviews_content_control_prev:hover,
  .reviews_content_control_next:hover {
    cursor: pointer;
  }

  .reviews_content_control_prev {
    background: #FFD7A0;
    margin-right: 30px;
  }

  .reviews_content_control_next {
    background: #FB9333;
  }

  .reviews_cards_slider {
    position: relative;
    overflow: hidden;
  }

  .reviews_cards_slider_track {
    position: relative;
    z-index: 2;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    transform: translate3d(0, 0px, 0px);
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
  }

  .reviews_card {
    position: relative;
    margin-right: 40px;
    padding: 35px;
    width: 324px;
    background: #FFFFFF;
    border-radius: 8px;
  }

  .reviews_card>img {
    margin-bottom: 30px;
  }

  .reviews_card>h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    color: #2B2B2B;
  }

  .reviews_card>h3 {
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #999999;
  }

  .reviews_card>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #575757;
  }

  @media only screen and (max-width : 1440px) {
    .reviews {
      padding: 50px;
      ;
    }

    .reviews_content>h1 {
      margin-bottom: 10%;
      width: 75%;
      font-size: calc(14px + 64 * (100vw / 1920));
      line-height: calc(14px + 64 * (100vw / 1920));
    }

    .reviews_content>p {
      width: 500px;
      font-size: calc(14px + 16 * (100vw / 1920));
    }

    .reviews_content>p:last-of-type {
      margin-bottom: 20%;
    }

    .reviews_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      width: 400px;
    }

    .reviews_card>img {
      width: 100%;
    }

    .reviews_card>h2 {
      align-self: flex-start;
      font-size: calc(14px + 26 * (100vw / 1920));
    }

    .reviews_card>h3 {
      margin-bottom: 20px;
      align-self: flex-start;
      font-size: calc(14px + 11 * (100vw / 1920));
    }

    .reviews_card>p {
      font-weight: 400;
      font-size: calc(14px + 2* (100vw / 1920));
    }
  }

  @media only screen and (max-width : 1366px) {
    .reviews {
      padding: 30px 40px;
    }

    .reviews_content>h1 {
      margin-bottom: 40px;
      width: 600px;
      font-weight: 600;
      font-size: calc(14px + 64 * (100vw / 1920));
      line-height: 50px;
    }

    .reviews_content>p {
      width: 600px;
      font-size: calc(14px + 16 * (100vw / 1920));
    }

    .reviews_content>p:last-of-type {
      margin-bottom: 60px;
    }

    .reviews_content_slides {
      margin-bottom: 10px;
    }

    .reviews_content_slide {
      font-weight: 600;
    }

    .reviews_content_control_prev,
    .reviews_content_control_next {
      padding: 20px;
      border-radius: 10px;
    }

    .reviews_content_control_prev {
      margin-right: 20px;
    }

    .reviews_card {
      margin-right: 20px;
      padding: 20px;
      width: 350px;
    }

    .reviews_card>img {
      margin-bottom: 25px;
    }

    .reviews_card>h2 {
      font-size: calc(14px + 20 * (100vw / 1920));
    }

    .reviews_card>h3 {
      margin-bottom: 15px;
      font-size: calc(14px + 10 * (100vw / 1920));
    }

    .reviews_card>p {
      font-size: calc(14px + 1 * (100vw / 1920));
    }
  }

  @media only screen and (max-width : 1024px) {
    .reviews_content {
      width: 100%;
    }

    .reviews_content>h1 {
      width: 100%;
    }

    .reviews_content>p {
      width: 100%;
    }

  }

  @media only screen and (max-width : 768px) {
    .reviews {
      padding: 34px;
      flex-direction: column;
    }

    .reviews_content {
      width: 100%;
    }

    .reviews_content>h1 {
      line-height: 140%;
      margin-bottom: 24px;
    }

    .reviews_content>p {
      font-size: 14px;
    }

    .reviews_content>p:last-of-type {
      margin-bottom: 32px;
    }

    .reviews_content_slides {
      display: none;
    }

    .reviews_content_control {
      margin-bottom: 20px;
      align-items: center;
      justify-content: center;
    }

    .reviews_cards_slider {
      width: 100%;
      margin-bottom: 32px;
    }

    .reviews_cards_slider_track {
      width: 300vw;
    }

    .reviews_card {
      width: calc(100vw - 40px);
    }
  }

  @media only screen and (max-width : 480px) {
    .reviews {
      padding: 16px;
      flex-direction: column;
    }

    .reviews_content {
      width: 100%;
    }

    .reviews_content>h1 {
      line-height: 140%;
      margin-bottom: 24px;
    }

    .reviews_content>p {
      font-size: 14px;
    }

    .reviews_content>p:last-of-type {
      margin-bottom: 32px;
    }

    .reviews_cards_slider_track {
      width: 350vw;
    }

    .reviews_content_slides {
      display: none;
    }

    .reviews_card {
      padding: 0;
      width: 100%;
      background: none;
    }
  }