@media only screen and (max-width : 1920px) {

  .header_subscriptions,
  .footer_subscriptions,
  .subscriptions {
    background-color: #FFF8ED;
  }

  .subscriptions {
    font-family: 'Montserrat';
    font-style: normal;
    padding: 0 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .subscriptions>h1 {
    margin-bottom: 100px;
    font-weight: 600;
    font-size: 58px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #585858;
  }

  .subscriptions_card-box_item:not(:last-child) {
    margin-bottom: 100px;
  }

  .subscriptions_card-box_item {
    padding: 100px 70px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .subscriptions_card-box_item>img {
    width: 45%;
  }

  .subscriptions_card-box_item_content {
    width: 45%;
  }

  .subscriptions_card-box_item_content>h2 {
    width: 100%;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 50px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #585858;
  }

  .subscriptions_card-box_item_content>h2>span {
    color: #FB9333;
  }

  .subscriptions_card-box_item_content>p {
    width: 100%;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #585858;
  }

  .subscriptions_card-box_item_content>p:nth-of-type(2) {
    margin-top: 35px;
  }

  .subscriptions_card-box_item>img {
    filter: drop-shadow(20px 20px 6px rgba(0, 0, 0, 0.25));
  }

  .subscriptions_card-box_item_content_buttons {
    margin-bottom: 60px;
    display: flex;
    align-items: center;

  }

  .subscriptions_card-box_item_content_buttons_button {
    padding: 2% 6%;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: -0.02em;

    color: #FB9333;
    border: none;
    outline: 1px solid #FB9333;
    border-radius: 20px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
  }

  .subscriptions_card-box_item_content_buttons_button:not(:last-of-type) {
    margin-right: 35px;
  }

  .subscriptions_card-box_item_content_buttons_button:hover {
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
    background-color: #FB9333;
  }

  .subscriptions_card-box_item_content_buttons~p {
    margin-bottom: 15px;
  }

  .subscriptions_card-box_item_content_button {
    padding: 17px 150px;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: -0.02em;

    color: #FB9333;
    border: none;
    outline: 1px solid #FB9333;
    border-radius: 20px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    ;
    -moz-transition: all 0.3s ease;
    ;
    -o-transition: all 0.3s ease;
    ;
    transition: all 0.3s ease;
  }

  .subscriptions_card-box_item_content_button:hover {
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
    background-color: #FB9333;
  }
}

@media only screen and (max-width : 1440px) {
  .subscriptions {
    padding: 50px;
  }

  .subscriptions>h1 {
    margin-bottom: 50px;
    font-size: calc(14px + 55 * (100vw / 1920));
  }

  .subscriptions_card-box_item:not(:last-child) {
    margin-bottom: 50px;
  }

  .subscriptions_card-box_item {
    padding: 50px 35px;
  }

  .subscriptions_card-box_item_content>h2 {
    width: 100%;
    margin-bottom: 20px;
    font-size: calc(14px + 36 * (100vw / 1920));
  }

  .subscriptions_card-box_item_content>p {
    font-size: 25px;
    font-size: calc(14px + 11 * (100vw / 1920));
  }

  .subscriptions_card-box_item_content>p:nth-of-type(2) {
    margin-top: 25px;
  }

  .subscriptions_card-box_item_content_buttons {
    margin-bottom: 40px;
  }

  .subscriptions_card-box_item_content_buttons_button {
    font-size: 25px;
    font-size: calc(14px + 11 * (100vw / 1920));
  }

  .subscriptions_card-box_item_content_buttons_button:not(:last-of-type) {
    margin-right: 25px;
  }

  .subscriptions_card-box_item_content_button {
    padding: 17px 70px;
    font-size: calc(14px + 11 * (100vw / 1920));
  }
}

@media only screen and (max-width : 1366px) {}

@media only screen and (max-width : 1024px) {}

@media only screen and (max-width : 768px) {
  .subscriptions {
    padding: 34px;
  }

  .subscriptions_card-box_item {
    padding: 20px;
  }

  .subscriptions_card-box_item:not(:last-child) {
    margin-bottom: 34px;
  }

  .subscriptions_card-box_item_content {
    width: 55%;
  }

  .subscriptions_card-box_item_content>p {
    font-size: calc(14px + 1 * (100vw / 1920));
  }

  .subscriptions_card-box_item>img {
    width: 40%;
  }

  .subscriptions_card-box_item_content_buttons_button {
    border-radius: 10px;
  }

  .subscriptions_card-box_item_content_button {
    border-radius: 10px;
  }
}

@media only screen and (max-width : 430px) {
  .subscriptions {
    padding: 16px;
  }

  .subscriptions_card-box_item:not(:last-child) {
    margin-bottom: 16px;
  }

  .subscriptions_card-box_item {
    width: 100%;
    padding: 8px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .subscriptions_card-box_item_content {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
  }

  .subscriptions_card-box_item_content>h2 {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .subscriptions_card-box_item_content>p {
    margin-bottom: 16px;
    font-size: 12px;
  }

  .subscriptions_card-box_item>img {
    display: none;
  }

  .subscriptions_card-box_item_content_buttons {
    margin-bottom: 16px;
  }

  .subscriptions_card-box_item_content_buttons_button:not(:last-of-type) {
    margin-right: 8px;
  }

  .subscriptions_card-box_item_content_buttons_button {
    padding: 4px 16px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: -0.02em;
    line-height: 140%;
  }

  .subscriptions_card-box_item_content_button {
    padding: 10px 28px;
    font-size: 14px;
    letter-spacing: -0.02em;
    border-radius: 5px;
  }
}